@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  transition: 0.3s ease all;
}
.card:hover {
  scale: 102%;
}

.loading {
  width: 70px;
  height: 70px;
  display: grid;
}
.loading::before,
.loading::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #ffc639 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 0.5s infinite;
}
.loading::before {
  margin: 8px;
  filter: hue-rotate(45deg);
  background-size: 16px 16px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c1c;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc21a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
